.tdata{
    padding: 5px 15px; 
    border: 2px solid #666
}

.tablebody td{
    padding: 0px 5px;
}


.tablebody span{
    color: #f7931e; font-weight: bold
}

.scrolldown {
    height:300px;overflow-y:scroll;
}

.maindata{
    cursor: pointer; background-color: #000; color: #fff; padding: 5px;
}

.rightpanel{
    border-top:1px solid #808080;padding-top:10px;
}

.exsummary{
    display:block;
    /* display: none; */

}

.exsummary2{
    border:dotted;
}

/* .Qpannel{

} */

.tble{
    width: 800px;
    height: 700px;
}